# Compiled class file
*.class

# Eclipse project files
.classpath
.project
.settings/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

/target
/target/
**/target/


# Log file
*.log
*.log*

# BlueJ files
*.ctxt

# Package Files 
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar