<div class="row">
	<div class="col-xs-12">
		<form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
			<div class="row">
				<div class="col-xs-12">
					<button type="submit" class="btn btn-success">Save</button>
					<button type="button" class="btn btn-danger">Cancel</button>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="question">Question</label> 
						<textarea 
						type="text" 
						id="question"
						class="form-control"
						formControlName="question"
						rows="6"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="answer">Answer</label> 
						<textarea 
						type="text" 
						id="answer"
						class="form-control"
						formControlName="answer"
						rows="7"></textarea>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>