<div class="row">
	<div class="col-xs-12">
		<h1>{{question.question}}</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="btn-group"
		appDropdown>
			<button type="button" 
			class="btn btn-primary dropdown-toggle">
				Manage Question 
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" >
				<li><a style="cursor: pointer;" (click)="onEditQuestion()">Edit question</a></li>
				<li><a style="cursor: pointer;">Delete question</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">{{question.answer}}</div>
</div>


